<form action="/authentication/sign-in" method="POST">

  <label for="input-name">username</label>
  <input type="username" id="input-username" name="username" placeholder="Your username" />

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="Password" />
  
  <button>Sign In</button>
</form>