<form action="/authentication/sign-up" method="POST">

  <label for="input-name">Username</label>
  <input type="text" id="input-name" name="username" placeholder="Your username" />

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="Your password" />

  <button>Sign Up</button>
</form> 