<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="/authentication/sign-up">Sign Up</a>
      <a href="/authentication/sign-in">Log In</a>
    </nav>
    {{{body}}}
  </body>
</html>
